<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div id="app">
      検索条件：
      <label v-for="label in options">
        <input type="radio"
          v-model="current"
          v-bind:value="label.value">{{ label.label }}
      </label>
      <div>※削除はctrlと同時押しで動作</div>

      <table>
        <thead>
          {{ computedTodos.length }} 件を表示中
          <tr v-for="item in computedTodos" v-bind:key="item.id">
            <!-- forループ -->
            <th> {{ item.id }} </th>
            <td> {{ item.comment }} </td>
            <td class="button">
              <!-- 状態変更用ボタン　-->
              <button v-on:click="doChangeState(item)"> 
                {{ labels[item.state] }}
              </button>
            </td>
            <td class="button">
              <!-- 削除用ボタン -->
              <button v-on:click.ctrl="doRemove(item)" >
                削除
              </button>
            </td>

          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

      <h2> 新規Todoの追加 </h2>
      <form class="add-form" v-on:submit.prevent="doAdd">
        <!-- コメント入力フォーム -->
        コメント <input type="text" ref="comment">
        <button type="submit"> 追加 </button>
      </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>